/* HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team. */
/* ==========================================================================
 * Base styles: opinionated defaults
 * ========================================================================== */
html, button, input, select, textarea {
  color: #222;
  display: block; }

[type="checkbox"], [type="radio"] {
  display: inline; }

a {
  color: #000;
  text-decoration: none; }

/* Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design. */
::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none; }

/* A better looking default horizontal rule */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/* Remove the gap between images and the bottom of their containers: h5bp.com/i/440 */
img {
  vertical-align: middle; }

/* Remove default fieldset styles. */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Allow only vertical resizing of textareas. */
textarea {
  resize: vertical; }

/* ==========================================================================
 * Chrome Frame prompt
 * ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
 * Author's custom styles
 * ========================================================================== */
body {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-weight: 500;
  line-height: normal;
  color: #373a3c;
  background-color: #fff; }

h1 {
  color: #fff;
  font-size: 4em;
  font-weight: bold; }

label.valid {
  float: right;
  position: relative;
  right: 95px;
  bottom: 10px; }

.code-reset, #stepDesc0 {
  cursor: pointer; }

.container {
  display: block;
  margin: 0 auto;
  width: 1152px;
  padding: 0 5vw;
  overflow-x: hidden; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.wrapper {
  min-width: 50%;
  position: relative; }

.logo {
  width: 180px;
  position: absolute;
  top: -70px;
  left: -49px; }

.full-width_input, .left-img {
  width: 100%; }

.fields {
  padding: 5em 88px 5em 8em; }
  .fields > div > input {
    height: 16px;
    margin-bottom: 2em;
    border: transparent;
    padding: 12px; }

.step-1 .fields > div > input {
  background-color: #FFB78F; }

.step-2 .fields > div > input {
  background-color: #EBBD80;
  width: 100%; }

.step-3 .fields > div > input {
  background-color: #F39B93;
  width: 100%; }

.fields > div > input:focus {
  font-style: italic;
  outline: none;
  border: 2px solid #FE6E20; }
  .fields > div > input:focus::placeholder {
    -moz-transform: translate(-5px, -10px);
    -webkit-transform: translate(-5px, -10px);
    -o-transform: translate(-5px, -10px);
    -ms-transform: translate(-5px, -10px);
    transform: translate(-5px, -10px);
    font-size: 8px;
    transition: all 0.3s ease; }

.input-wrapper {
  position: relative; }
  .input-wrapper > input.error {
    border: 2px solid #EB5757; }

.danger-img {
  display: inline;
  width: 32px;
  height: 32px;
  position: absolute;
  top: 7px;
  right: -60px; }

label.error {
  font-size: 12px;
  color: #EB5757;
  position: absolute;
  bottom: -20px; }

.gender-label-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.container-radio-btn {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  padding-top: 3px;
  margin-right: 110px;
  margin-bottom: 24px;
  cursor: pointer;
  font-size: 1em; }
  .container-radio-btn input {
    position: absolute;
    opacity: 0;
    cursor: pointer; }

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: #C4C4C4;
  border-radius: 50%; }

.container-radio-btn:hover input ~ .checkmark {
  background-color: #ccc; }
.container-radio-btn input:checked ~ .checkmark {
  background-color: #C4C4C4; }

.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

.container-radio-btn input:checked ~ .checkmark:after {
  display: block; }
.container-radio-btn .checkmark:after {
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #FFB78F; }

#datePick {
  color: transparent;
  text-shadow: 0 0 0 #000;
  cursor: pointer; }
  #datePick:focus {
    font-style: normal; }

.daterangepicker .calendar-table th, .daterangepicker .calendar-table td {
  min-width: 0 !important; }

.commands {
  position: absolute;
  right: 63px;
  width: 384px; }

.step-1 .commands {
  bottom: 54px; }

.step-2 .commands {
  bottom: 140px; }

.commands > a {
  width: max-content;
  font-size: 24px;
  font-weight: 900;
  color: #fff;
  padding: 13px 72px;
  transition: all 0.3s ease; }

.step-1 .commands > a {
  background-color: #FF6E20;
  border: 2px solid #FF6E20; }
  .step-1 .commands > a:hover {
    background-color: transparent;
    color: #FF6E20; }
  .step-1 .commands > a:focus {
    background-color: #FF6E20;
    color: #fff;
    opacity: 0.7; }

.step-2 .commands > a {
  background-color: #D77B00;
  border: 2px solid #D77B00; }
  .step-2 .commands > a:hover {
    background-color: transparent;
    color: #D77B00; }
  .step-2 .commands > a:focus {
    background-color: #D77B00;
    color: #fff;
    opacity: 0.7; }

.commands .arrow {
  color: #000; }

.arrow {
  padding-left: 1rem; }

input::placeholder {
  color: #333; }

button {
  color: #fff;
  font-weight: 900; }

.container-checkbox {
  display: block;
  position: relative;
  padding-top: 2px;
  padding-left: 2rem;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
  .container-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1rem;
    width: 1rem;
    background-color: #C4C4C4;
    border-radius: 0; }
  .container-checkbox:hover input ~ .checkmark {
    background-color: #ccc; }
  .container-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none; }
  .container-checkbox input:checked ~ .checkmark:after {
    display: block; }
  .container-checkbox .checkmark:after {
    left: 4px;
    top: 0;
    width: 5px;
    height: 10px;
    border: solid #ffb78f;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg); }

.prev {
  float: left; }

.next {
  float: right; }

.steps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  top: 1px;
  right: 10%;
  list-style: none;
  width: 100%;
  margin: 0;
  margin-top: 68px;
  padding: 0; }
  .steps li {
    color: #b0b1b3;
    font-size: 24px;
    float: left;
    padding: 2px 28px;
    border: 1px solid #FF6E20;
    margin-left: 2em;
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s; }
    .steps li span {
      font-size: 11px;
      display: block; }
    .steps li.current {
      color: #000;
      position: relative;
      border: 2px solid #FF6E20; }
      .steps li.current::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: #fff;
        z-index: 1; }

.breadcrumb {
  height: 37px; }
  .breadcrumb li {
    background: #eee;
    font-size: 14px; }
    .breadcrumb li.current {
      background: #666;
      color: #eee;
      position: relative; }
      .breadcrumb li.current:after {
        border-top: 18px solid transparent;
        border-bottom: 18px solid transparent;
        border-left: 6px solid #666;
        content: " ";
        position: absolute;
        top: 0;
        right: -6px; }
    .breadcrumb li:last-child:after {
      border: none; }

#header {
  text-align: center;
  border-bottom: solid 1px #b2b3b5;
  margin: 0 0 20px 0; }

fieldset {
  width: 100%;
  border-radius: 85px 0;
  position: relative; }
  fieldset.step-1 {
    border: 2px solid #FF6E20; }
  fieldset.step-2 {
    border: 2px solid #D47C01; }
  fieldset.step-3 {
    border: 2px solid #E93A29; }

legend {
  font-size: 18px;
  margin: 0px;
  padding: 10px 0px;
  color: #b0232a;
  font-weight: bold; }

label {
  display: inline-block;
  position: relative;
  bottom: 3px; }

button, .prev {
  background-color: #b0232a;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none; }

button:hover, .prev:hover {
  background-color: #000;
  text-decoration: none; }

button {
  border: none; }

.step3-message p {
  font-size: 24px;
  text-align: center; }
  .step3-message p:first-child {
    font-size: 1rem; }
  .step3-message p span {
    font-weight: 900; }

#submitFrom {
  width: 384px;
  height: 56px;
  background: #E93A29;
  font-weight: 900;
  font-size: 24px;
  margin-bottom: 8px;
  border: 2px solid #E93A29;
  cursor: pointer;
  transition: all 0.3s ease; }
  #submitFrom:hover {
    color: #E93A29;
    background-color: transparent; }
  #submitFrom:focus {
    background: #E93A29;
    color: #fff;
    opacity: 0.7; }

.code-reset {
  display: block;
  font-size: 1rem;
  text-align: center; }

/* ==========================================================================
 * Helper classes
 * ========================================================================== */
/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }
  .ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }
  .visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

/* Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements. */
.clearfix {
  /* 2 */
  *zoom: 1; }
  .clearfix:before {
    content: " ";
    /* 1 */
    display: table; }
  .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
    clear: both; }

/* For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats. */
/* ==========================================================================
 * EXAMPLE Media Queries for Responsive Design.
 * These examples override the primary ('mobile first') styles.
 * Modify as content requires.
 * ========================================================================== */
/* Style adjustments for viewports that meet the condition */
/* Style adjustments for high resolution devices */
/* ==========================================================================
 * Print styles.
 * Inlined to avoid required HTTP connection: h5bp.com/r
 * ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a {
    text-decoration: underline; }
    a:visited {
      text-decoration: underline; }
    a[href]:after {
      content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /* Don't show links for images, or javascript/internal links */
  .ir a:after {
    content: ""; }

  a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr {
    page-break-inside: avoid; }

  img {
    page-break-inside: avoid;
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=combined.css.map */
